/*------------------------------------*\
    #list-inline
\*------------------------------------*/

/**
 * The list-inline object simply displays a list of items in one line.
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-list-inline-namespace: $inuit-namespace !default;

.#{$inuit-list-inline-namespace}list-inline,
%#{$inuit-list-inline-namespace}list-inline {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
    }

}
